# Core Web Framework
fastapi==0.116.0
uvicorn==0.29.0
gunicorn==22.0.0
watchfiles==0.21.0

# --- THE NEW STACK (No TensorFlow, No DeepFace) ---
# High-performance engine for running the SFace model
onnxruntime==1.18.1
# For image processing (face detection, alignment)
opencv-python-headless==4.9.0.80
# For math operations
numpy==1.26.4
# For calculating similarity between faces
scikit-learn==1.5.1
gdown==5.2.0


# For downloading media from URLs
requests==2.32.3

# Pydantic and its dependencies
pydantic==2.11.7
typing-extensions==4.14.1
setuptools==69.5.1
